.poster {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .poster {
    height: 100px;
    width: 80px;
  }
}
.text {
  color: green;
}
