.poster {
  height: 30vh;
  width: 40vh;
  border-radius: 10px;
  margin-right: 20px;
}

.trending {
  font-size: 30px;
}
.elements {
  width: 80%;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .poster {
    height: 10vh;
    width: 15vh;
  }

  .trending {
    font-size: 15px;
  }
}

@media screen and (min-width: 702px) and (max-width: 800px) {
  .poster {
    height: 10vh;
    width: 15vh;
  }

  .trending {
    font-size: 15px;
  }
}
@media screen and (min-width: 802px) and (max-width: 1100px) {
  .poster {
    height: 10vh;
    width: 15vh;
  }

  .trending {
    font-size: 15px;
  }
}
